body {
background-color: whitesmoke;
  }
  p {
    color: rgb(41, 47, 54);
}
li{
  color: aliceblue;
}

.headshot {
  border: solid 2px white;
  border-radius: 10px;
}
.container-fluid {
  align-items: center;
  color: rgb(whitesmoke);
  height: 15em;
  width: 100vw;
  font-weight: bold;
  font-size: 15px;
  background-image: url(./assets/stripped\ background.png);
  background: position 100vw;
}
.col-7 {
  flex-direction: column;
}

h4 {
  font-weight: bolder;
  font-style: italic;
  font-size: large;
  color:whitesmoke;
}

.nav-link, .nav-item {
    text-decoration: none;
    color: whitesmoke;
}
.line1 {
  text-align: center;
}
.line2 {
  text-align: center;
}
.line3 {
  text-align: center;
}
.line4{
  font-size: large;
  padding-top: 20px;
  text-align: left;
  justify-content: flex-end;
  color: rgb(41, 47, 54);
}
h2 {
  color: rgb(41, 47, 54);
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px;
  padding: 10px;
  border: solid 3px brown;
  border-style: outset;
  background-image: url();
  /* background-color: rgb(255, 107, 107); */
}
h4 {
  color: whitesmoke;
}
.row {
  color: rgb(191, 192, 192);
}
#headshot {
  padding: 25px;
}
.about-me {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin: 25px;
}
.col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.social {
  display: flex;
  flex-direction: column;
}

#Nav {
  display: flex;
  text-align: end;
}

.col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* PROJECT */
.projects {
  display: flex;
  justify-content: center;
  padding: 50px 50px 50px 50px;
  margin: 20px 20px 20px 20px;
}
.card {
  background-color:;
  align-items: center;
  border: solid 10px brown;
  border-style: outset;
  color: rgb(15, 76, 92);
}
/* CONTACT FORM */
.col {
    justify-content: center;
}
.contact-form {
    color: rgb(191, 192, 192);
}
.form-label {
    color:brown;
    margin-top: 5px;
}
.btn {
    margin: 25px;
  }

  /* FOOTER */
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(247, 255, 247);
    font-size: 15px;
}
.footer {
    margin: 5px;
    padding: 5px;
    border: solid 3px rgb(191, 192, 192);
    border-style: outset;
    background-color: rgb(64, 61, 57);
    display: flex;
}
.footer-copyright {
 flex-direction: column;
 align-items: center;
}
.footer-links {
    justify-content: right;
    text-align: end;
}
ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
li {
  color: black;

